body {
  font-family: "Trebuchet MS", Sans-Serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

#main {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

#sidebar_left {
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
}

#instruments {
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 160px;

}

#bars {
  order: 2;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#stave-view {
  width: 1440px;
  height: 600px;
  max-height: 600px;
  overflow-y: auto;
  white-space: nowrap;
  position: relative;
}

#stave {
}

.stave-bar-number {
  font: italic 2px serif;
  font-weight: lighter;
}

.group-title {
  min-height: 36;
  font-size: 20;
  font-weight: bold;
}


.sub-group-title1 {
  min-height: 35;
  font-size: 18;
}

.patternButton {
  padding: 5px;
  margin-top: 10px;
}

.bar-table {
  border: 1px solid #e3000b;
}

#bar-delete {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40px;
}

#bar-text {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

#bar-buttons {
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 90px;
}

.barButtonImg {
  width: 15px;
  height: 15px;
  align-content: center;
  text-align: center;
}


#add-instrument-select {
  width: 150px;
}

.instrumentTableHeaderCell {
    min-height: 50;
    font-size: 20;
}


.instrumentTableCell {
    font-size: 18;
}

.addInstrumentTableCell {
  font-size: 18;
}

.optionsTableCell {
  font-size: 16;
  text-align: right;
}

.instrumentBlockSelect {
    min-width: 75;
    font-size: 24;

}



@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?1dz6mr');
    src:  url('assets/fonts/icomoon.eot?1dz6mr#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?1dz6mr') format('truetype'),
      url('assets/fonts/icomoon.woff?1dz6mr') format('woff'),
      url('assets/fonts/icomoon.svg?1dz6mr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
.blockSelect {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bar-settings {
  width: 10;
  height: 15;
}
.subBeatOptionsDialogButtons {
  width: 100%;
  text-align: center;
  padding-top: 10;
}


.embellishPatternBox {
  border-style: inset;
  border-width: 2px;
  border-color: gray;
  border-radius: 3px;
  width: 100%;
  text-align: center;
}

.embellishCheckbox {
  -webkit-appearance: initial;
  appearance: initial;
  width: 20px;
  height: 20px;
  border: none;
  background: #e3000b;
  position: relative;
  margin-right: 10px;
}

.embellishCheckbox:disabled {
  -webkit-appearance: initial;
  appearance: initial;
  width: 20px;
  height: 20px;
  border: none;
  background: #dddddd;
  position: relative;
}

.embellishCheckbox:checked:after {
  /* Heres your symbol replacement - this is a tick in Unicode. */
  content: "\003E";
  color: #fff;
  /* The following positions my tick in the center, 
   * but you could just overlay the entire box
   * with a full after element with a background if you want to */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*
   * If you want to fully change the check appearance, use the following:
   * content: " ";
   * width: 100%;
   * height: 100%;
   * background: blue;
   * top: 0;
   * left: 0;
   */
}